body {
  background: #fffefe; /* Almost white background */
  color: #333; /* Standard dark text for readability */
  margin-top: 5rem;
  font-family: 'Aleo', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #4a4a4a; /* Soft dark grey for headings */
}

.navbar {
  position: fixed;
  top: 0;
  width: calc(100% - 240px); /* Full width minus the sidebar width */
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);
  font-size: 1.1rem;
  color: #333; /* Dark text on light background */
  background: #fffefe;
}

.site-header .navbar-nav .nav-link {
  color: #4a4a4a; /* Harmonizing with the heading color */
}

.site-header .navbar-nav .nav-link:hover {
  color: #707070; /* Dark grey for hover */
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.sidebar {
  background-color: #f0f0f0; /* Lighter grey for sidebar */
  color: #333; /* Keeping the text dark for contrast */
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Narrower sidebar */
  overflow-y: auto;
  z-index: 1020;
}

.sidebar .nav-link {
  color: #333;
}

.sidebar .nav-link:hover {
  background-color: #d4d4d4; /* Medium grey for hover background */
  color: #4a4a4a; /* Slightly darker grey for text on hover */
}

.main-content {
  margin-left: 200px; /* Adjusted for the sidebar width */
  width: calc(100% - 200px); /* Full width minus the sidebar width */
  padding-left: 20px;
  padding-right: 20px;
}


/* General content styling */
.content-padding {
  padding: 20px;
}

.content-section {
  background-color: #fafafa; /* Slightly darker than main content */
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  margin-bottom: 20px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.05);
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-right {
  padding-bottom: 15px;
}

.right {
  text-align: right;
}

/* Form styling */
.form {
  padding-left: 50px;
  padding-right: 50px;
}

.form-group {
  padding-left: 50px;
  padding-right: 50px;
}

.legend {
  padding: 10px;
}

/* Table styling */
.table-header-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.table-header-link:hover,
.table-header-link:focus {
  text-decoration: underline; /* Underline for interaction feedback */
  color: #4a4a4a; /* Dark grey for focus */
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  color: #4a4a4a; /* Soft dark grey for emphasis */
}
