{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'planner/main.css' %}">

    {% if title %}
        <title>Planner- {{ title }}</title>
    {% else %}
        <title>Planner</title>
    {% endif %}
</head>
<body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light collapse" style="position: fixed; height: 100%; overflow: auto; z-index: 1030;">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'planner-home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="admin/">Admin</a>
              </li>
              <!-- Add more sidebar items here -->
            </ul>
          </div>
        </nav>

        <!-- Column for Navbar and Main Content -->
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-md navbar-light">
            <!-- Navbar content -->
            <div class="navbar-nav ml-auto">
                <!-- Conditional rendering based on authentication -->
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <form class="nav-item" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Logout</button>
                    </form>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
          </nav>
        

          <!-- Main Content-->
          <main>
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </main>
        </div>
      </div>
    </div>


    <script src="{% static 'planner/js/timer.js' %}"></script>
</body>
</html>