{% extends "planner/base.html" %}
{% block content %}
    <!-- Header Section -->
    <div class="content-header">
        <div class="header-left">
            <h3>{{ object.title }}</h3>
            <p>Select your course and track your progress</p>
        </div>
        <div class="header-right">
            <div class="hbox">
                <a href="{% url 'course-update' object.id %}" class="btn btn-secondary">Update Course</a>
                <!-- Delete Button -->
                <a href="{% url 'course-delete' object.id %}" class="btn btn-danger">Delete Course</a>
            </div>
        </div>
    </div>
{% endblock content %}