{% extends "planner/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form">
        <form method="POST" class="content-section">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 legend">Create a New Course</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group right">
                <button class="btn btn-secondary" type="submit">Add Course</button>
            </div>
        </form>
    </div>
{% endblock content %}