{% extends "planner/base.html" %}
{% block content %}
    {% for document in documents %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ document.author }}</a>
                <small class="text-muted">{{ document.title }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ document.instructor }}</a></h2>
            <p class="article-content">{{ document.description }}</p>
            <p>Study Points: {{ document.study_points }}</p>
            <p>Completed: {{ document.completed }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}

