{% extends "planner/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="table-responsive, content-section">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 70%;">
                        <a href="?sort={% if current_sort == 'title' %}-title{% else %}title{% endif %}" class="table-header-link">Title</a>
                        {% if current_sort == 'title' %}↓{% elif current_sort == '-title' %}↑{% endif %}
                    </th>
                    <th>
                        <a href="?sort={% if current_sort == 'date_modified' %}-date_modified{% else %}date_modified{% endif %}" class="table-header-link">Date Modified</a>
                        {% if current_sort == 'date_modified' %}↓{% elif current_sort == '-date_modified' %}↑{% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>
                            <a href="{% url 'document-detail' document.id %}">{{ document.title }}</a>
                        </td>
                        <td>
                            {% if document.date_modified %}
                                {% now "Y-m-d" as current_date %}
                                {% if document.date_modified|date:"Y-m-d" == current_date %}
                                    {{ document.date_modified|timesince }} ago
                                {% else %}
                                    {{ document.date_modified|date:"Y-m-d" }}
                                {% endif %}
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
