<div class="content-body">
    <div class="row content-padding">
        <div class="col-md-6 pr-5">
            <div class="content-section pt-3">
                <!-- Information -->
                <div data-base-detail-url="{% url 'chapter-detail' course.id 0 %}" id="chapterDetailUrlBase"></div>


                <!-- Header Section -->
                <div class="content-header">
                    <div class="header-left">
                        <h3>Chapters</h3>
                    </div>
                    <div class="header-right">
                        <button id="createChapterButton" class="btn btn-sm btn-primary"
                            data-course-id="{{ course.id }}"
                            data-base-url="{% url 'chapter-create' course.id %}">
                            +
                        </button>
                    </div>
                </div>

                {% if chapters %}
                    <!-- Table Section for Chapters -->
                    <div class="content-padding">
                        <div class="table-responsive content-section">
                            <table class="table" id="chaptersTable">
                                <!-- Table Head -->
                                <thead>
                                    <tr>
                                        <th style="width: 15%;">Nr</th>
                                        <th style="width: 45%;">Title</th>
                                        <th style="width: 25%;">Progress</th>
                                        <th style="width: 15%;">Actions</th>
                                    </tr>
                                </thead>
                                <!-- Table Body -->
                                <tbody>
                                    {% for chapter in chapters %}
                                        <tr class="selectable-row" data-chapter-key="{{ chapter.id }}">
                                            <td>{{ chapter.order }}</td>
                                            <td>{{ chapter.title }}</td>
                                            <td>{{ chapter.progress }}%</td>
                                            <td>
                                                <a href="{% url 'chapter-update' course.id chapter.id %}" class="btn btn-sm btn-primary">🖉</a>
                                                <a href="{% url 'chapter-delete' course.id chapter.id %}" class="btn btn-sm btn-danger">🗑</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="content-padding">
                        <p>No chapters available.</p>
                    </div>
                {% endif %}
                
                
                
                <script>
                    function loadChapterForm(courseId) {
                        var baseUrl = document.getElementById('createChapterButton').getAttribute('data-base-url');
                    
                        fetch(baseUrl)
                            .then(response => response.text())
                            .then(html => {
                                document.getElementById('formColumn').innerHTML = html;
                                var form = formColumn.querySelector('form');
                                form.setAttribute('action', baseUrl);
                            });
                    }
                    
                    document.addEventListener('DOMContentLoaded', function() {
                        var createChapterButton = document.getElementById('createChapterButton');
                        var courseId = createChapterButton.getAttribute('data-course-id');
                        var rows = document.querySelectorAll('#chaptersTable .selectable-row');
                        var baseUrl = document.getElementById('chapterDetailUrlBase').getAttribute('data-base-detail-url');

                        loadChapterForm(courseId);

                        createChapterButton.addEventListener('click', function() {
                            loadChapterForm(courseId);
                            rows.forEach(function(r) { r.classList.remove('selected-row'); });
                        });

                        rows.forEach(function(row) {
                            row.addEventListener('click', function() {
                                // Add selected class to clicked row and remove from others
                                rows.forEach(function(r) { r.classList.remove('selected-row'); });
                                this.classList.add('selected-row');

                                // Fetch the detail view for the selected chapter
                                var chapterId = this.getAttribute('data-chapter-key');
                                var detailUrl = baseUrl.replace('0', `${chapterId}`);
                                fetch(detailUrl)
                                    .then(response => response.text())
                                    .then(html => {
                                        document.getElementById('formColumn').innerHTML = html;
                                    });
                            });
                        });
                    });
                </script>
            </div>
        </div>

        <!-- Form Column -->
        <div class="col-md-6 content-section" id="formColumn"></div>
    </div>
</div>

